@using Interfaces
@model PatientParameter

<div class="form-group">
     @Html.HiddenFor(x=>x.Id)
     @Html.HiddenFor(x=>x.InfluenceId)
     @Html.HiddenFor(x=>x.IsDynamic)
     @Html.HiddenFor(x=>x.NameTextDescription)
     @Html.HiddenFor(x=>x.PatientId)
     @Html.HiddenFor(x=>x.PositiveDynamicCoef)
     @Html.DropDownListFor(x=>x.ParameterName, Html.GetEnumSelectList(typeof(ParameterNames)))
     @Html.TextBoxFor(x=>x.Value)
     @Html.EditorFor(x=>x.Timestamp)
</div>