@using Interfaces
@model InfluenceViewFormat
<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Добавление воздействия</h4></div>
    <div class="panel-body">
        <form asp-action="AddInluence" asp-controller="Patient" id="form">
            <div class="container-fluid">
                 <div class="row">
                     <div class="col-sm-1">@Html.LabelFor(m => m.PatientId)</div>
                     <div class="col-sm-2">@Html.TextBoxFor(x=>x.PatientId)</div>
                 </div>
                 <div class="row">
                     <div class="col-sm-1">@Html.LabelFor(x => x.StartTimestamp)</div>
                     <div class="col-sm-2">@Html.EditorFor(x => x.StartTimestamp)</div>
                     <div class="col-sm-1">@Html.LabelFor(x => x.EndTimestamp)</div>
                     <div class="col-sm-2">@Html.EditorFor(x=>x.EndTimestamp)</div>
                 </div>
                 <div class="row">
                     <div class="col-sm-1">@Html.LabelFor(x => x.InfluenceType)</div>
                     <div class="col-sm-2">
                         @Html.DropDownListFor(x=>x.InfluenceType, Html.GetEnumSelectList(typeof(InfluenceTypes)))</div>
                     <div class="col-sm-1">@Html.LabelFor(x => x.MedicineName)</div>
                     <div class="col-sm-2">@Html.EditorFor(x=>x.MedicineName)</div>
                     <div class="col-sm-1"><input type="submit" value="Добавить" class="btn btn-success" /></div>
                 </div>
                 <div class="row">
                      <div class="col-sm-1"><h4>Показатели</h4></div>
                      <div class="col-sm-1"><button id="addParamButton">Добавить</button></div>
                 </div>
                 <div class="row">
                     <div id="parametersContainter">@Html.EditorFor(x=>x.Parameters)</div> 
                 </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$('#addParamButton').click(function(e) {
    //https://stackoverflow.com/questions/40843105/asp-net-button-click-call-javascript-function-in-beginform-and-stop-form-submit
    e.preventDefault();
    $.ajax({
            url: '@Url.Action("AddPatientParameter", "Medic")',
            data: $('#form').serialize(),
            type: 'POST',
            cache: false,
            async: true,
            success: function (result) {
                $('#parametersContainter').html(result);
            }
        });
});
</script>
