@using Interfaces
@model InfluenceViewFormat
<div class="panel panel-default">
    <div class="panel-body">
            <h4>Добавление воздействия</h4>
            <hr />
            <div class="container-fluid" id="form">
                <div class="row"> 
                    @Html.LabelFor(m => m.PatientId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-2">@Html.TextBoxFor(x=>x.PatientId)</div>
                </div>
                 <div class="row">
                     @Html.LabelFor(x => x.StartTimestamp, new { @class = "col-sm-2 control-label" })
                     <div class="col-sm-2">@Html.EditorFor(x => x.StartTimestamp)</div>
                 </div>
                 <div class="row">
                     @Html.LabelFor(x => x.EndTimestamp, new { @class = "col-sm-2 control-label" })
                     <div class="col-sm-2">@Html.EditorFor(x=>x.EndTimestamp)</div>
                 </div>
                 <div class="row">
                     @Html.LabelFor(x => x.InfluenceType, new { @class = "col-sm-2 control-label" })
                     <div class="col-sm-2">@Html.DropDownListFor(x=>x.InfluenceType, Html.GetEnumSelectList(typeof(InfluenceTypes)))</div>
                 </div>
                 <div class="row">
                     @Html.LabelFor(x => x.MedicineName, new { @class = "col-sm-2 control-label" })
                     <div class="col-sm-2">@Html.EditorFor(x=>x.MedicineName)</div>
                 </div>
                 <br/>
                 <div class="row">
                      <div class="col-sm-2"><h4>Показатели</h4></div>
                      <div class="col-sm-2"><button id="addParamButton">Добавить</button></div>
                 </div>
                 <div class="row">
                     <div id="parametersContainter"
                         class="col-sm-12"
                         style="height:300px;overflow:scroll;overflow-x: hidden;border-style: ridge;">@Html.EditorFor(x=>x.Parameters)</div> 
                 </div>
                 <br/>               
            </div>
    </div>
</div>

<script type="text/javascript">
$('#addParamButton').click(function(e) {
    //https://stackoverflow.com/questions/40843105/asp-net-button-click-call-javascript-function-in-beginform-and-stop-form-submit
    e.preventDefault();
    $.ajax({
            url: '@Url.Action("AddPatientParameter", "Medic")',
            data: $('#form').serialize(),
            type: 'POST',
            cache: false,
            async: true,
            success: function (result) {
                $('#parametersContainter').html(result);
            }
        });
});
</script>
