@using Interfaces
@model InfluenceViewFormat

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .input-validation-error{
                border-color: red;
            }
        </style>
    </head>
    <body class="card-body">
        <h4>Добавление воздействия</h4>
        <hr/>
        <div class="form-group">
            <div>@Html.LabelFor(m => m.PatientId, new { @class = "control-label" })</div>
            <div>
                @Html.TextBoxFor(x=>x.PatientId)
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>@Html.LabelFor(x => x.StartTimestamp, new { @class = "control-label" })</div>
            <div>
                @Html.EditorFor(x => x.StartTimestamp,"{0:yyyy-MM-dd}", new {htmlAttributes = new {@type = "date"}})
                <span asp-validation-for="StartTimestamp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>@Html.LabelFor(x => x.EndTimestamp, new { @class = "control-label" })</div>
            <div>
                @Html.EditorFor(x => x.EndTimestamp,"{0:yyyy-MM-dd}", new {htmlAttributes = new {@type = "date"}})
                <span asp-validation-for="EndTimestamp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>@Html.LabelFor(x => x.InfluenceType, new { @class = "control-label" })</div>
            <div>
                @Html.DropDownListFor(x=>x.InfluenceType, Html.GetEnumSelectList(typeof(InfluenceTypes)))
                <span asp-validation-for="InfluenceType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>@Html.LabelFor(x => x.MedicineName, new { @class = "control-label" })</div>
            <div>
                @Html.EditorFor(x=>x.MedicineName)
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div><h4>Показатели</h4>
            <button id="addParamButton">Добавить</button>
            <button id="deleteAllParamButton">Удалить все</button></div>
            <hr/>
            <div><span asp-validation-for="Parameters" class="text-danger"></span></div>
            <div id="parametersContainter"
                         class="col-sm-6 container-fluid"
                         style="height:300px;overflow:scroll;overflow-x: hidden;border-style: ridge;">
                         @await Html.PartialAsync("~/Views/Patient/PatientParameterItems.cshtml", Model)</div> 
        </div>  
    </body>
    <script type="text/javascript">
    $('#addParamButton').click(function(e) {
        //https://stackoverflow.com/questions/40843105/asp-net-button-click-call-javascript-function-in-beginform-and-stop-form-submit
        e.preventDefault();
        $.ajax({
                url: '@Url.Action("AddPatientParameter", "Medic")',
                data: $('#form').serialize(),
                type: 'POST',
                cache: false,
                async: true,
                success: function (result) {
                    $('#parametersContainter').html(result);
                }
            });
    });
    </script>
    <script type="text/javascript">
        $('#deleteAllParamButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("DeleteAllPatientParameters", "Medic")',
                data: $('#form').serialize(),
                type: 'POST',
                cache: false,
                async: true,
                success: function (result) {
                    $('#parametersContainter').html(result);
                }
            });
        });
    </script>
</html>
