@using Interfaces
@model PatientParameter

@*Старая версия*@
<div class="row rowPatient" draggable="true">
    @Html.LabelFor(x=>x.ParameterName,new { @class = "col-sm-1 control-label" })
    <div class="col-sm-2">@Html.DropDownListFor(
        x=>x.ParameterName, Html.GetEnumSelectList(typeof(ParameterNames)).OrderBy(x=>x.Text))</div>
    @Html.LabelFor(x=>x.Value, new { @class = "col-sm-1 control-label" })
    <div class="col-sm-2">@Html.TextBoxFor(x=>x.Value)</div>
    @Html.LabelFor(x=>x.Timestamp, new { @class = "col-sm-1 control-label" })
    <div class="col-sm-2">@Html.EditorFor(x=>x.Timestamp)</div>
    @Html.LabelFor(x=>x.IsDynamic, new { @class = "col-sm-1 control-label" })
    <div class="col-sm-2"> @Html.EditorFor(x=>x.IsDynamic)</div>
</div>
<style>
    .rowPatient
    {
        margin-bottom: 5px;
        border-left:none;
        border-right:none;
        border-bottom:1px solid black;
    }
</style>