@using Interfaces
@model PatientInfo
@*
    
*@
<html>
    <head>
        <title>Информация о пациенте</title>
        <style>
            th {text-align: center; font-weight: normal;}
        </style>
    </head>
    <body>
        <div>
            <div><p style="font-size:20px; font-weight:bold;" align="left">Общая информация</p></div>
            <div>
                @using (Html.BeginForm("EditPatient", "Patient", FormMethod.Post, new {p  = @Model.Patient}))
                { 
                    <input type="submit" value="Изменить" class="btn btn-success" />}
            </div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Номер карты</th>
                        <th>Пол</th>
                        <th>Возраст</th>
                        <th>Текущий биовозраст</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tr>   
                    <th>@Model.Patient.MedicalHistoryNumber</th>
                    <th>@Model.Patient.Gender.GetDisplayAttributeValue()</th>
                    <th>
                        @if(Model.AgingPatientState != null)
                        {
                            <p>@Model.AgingPatientState.Age</p>
                        }
                        else
                        {
                        <div class="alert alert-danger alert-dismissible fade show text-center">Нет данных</div>
                        }
                    </th>
                    <th>
                        @if (Model.AgingPatientState != null)
                        {
                            <p>@Model.AgingPatientState.BioAge</p>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible fade show text-center">Не рассчитано</div>
                        }
                    </th>
                    <th>
                        @if (Model.AgingPatientState != null)
                        {
                            <p>@Model.AgingPatientState.BioAgeState.GetDisplayAttributeValue()</p>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible fade show text-center">Не рассчитано</div>
                        }
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <div><p style="font-size:20px;font-weight:bold;">Динамика биовозраста пациента</p></div>
            <table style="table-layout: fixed;" class="table table-sm">
                <tr>
                    <th colspan="2">Начало периода:</th>
                    <th colspan="2"><input style = "width:100%" type="date" id="dt1"/></th>
                    <th colspan="2">Окончание периода:</th>
                    <th colspan="2"><input style = "width:100%" type="date" id="dt2"/></th>
                    <th colspan="2"><button style = "width:100%" onclick="GetAgingDynamics()">Показать</button></th>
                </tr>
            </table>   
            <div id="DynamicsInfo"></div>
        </div>      
    </body>
</html>


<script>
    function GetAgingDynamics() {
        var pId = @Model.Patient.MedicalHistoryNumber;
        var startTime = document.getElementById("dt1").value;
        var endTime = document.getElementById("dt2").value;
         $.ajax({
            url: '@Url.Action("GetPatientAgingDynamics", "Patient")',
            data: {patientId: pId, startTimestamp:startTime, endTimestamp:endTime},
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#DynamicsInfo').html(result);
            }
        });
    }
</script>
