@using Interfaces
@using Newtonsoft.Json
@model CommonAgingDynamics
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var groupedDynamics = Model.AgingDynamics.GroupBy(x => 
        new { x.InfluenceType, x.MedicineName, x.StartTimestamp, x.EndTimestamp });
    string val = JsonConvert.SerializeObject(Model);
    int count = 1;

}

<html>
    <head>
         <title>Информация о динамике биовозраста пациентов</title>
         <style >
            .centerCell
            {
                text-align: left;
            }
            th{font-weight: normal;}    
        </style>
    </head>
    <body>
       
        <form id="hidden-data">
           @Html.HiddenFor(m => m.StartTimestamp)
           @Html.HiddenFor(m => m.EndTimestamp)
           @Html.HiddenFor(m => m.AgingDynamics)
        </form>
        <div>
            @foreach(var group in groupedDynamics)
            {    
                <table style="table-layout: fixed;width:50%;" class="table-sm">
                    <tr><p align="left"><b>@(count++))</b></p></tr>
                    <tr>
                        <th colspan="5"><p align="left">Тип воздействия:</p></th>
                        <th colspan="5"><p align="left">@group.Key.InfluenceType.GetDisplayAttributeValue()</p></th>
                    </tr>
                    <tr>
                        <th colspan="5"><p align="left">Наименование препарата:</p></th>
                        <th colspan="5"><p align="left">@group.Key.MedicineName</p></th>
                    </tr>
                    <tr>
                        <th colspan="5"><p align="left">Начало воздействия:</p></th>
                        <th colspan="5"><p align="left">@group.Key.StartTimestamp.ToShortDateString()</p></th>
                    </tr>
                    <tr>
                        <th colspan="5"><p align="left">Окончание воздействия:</p></th>
                        <th colspan="5"><p align="left">@group.Key.EndTimestamp.ToShortDateString()</p></th>
                    </tr>
                    <tr>
                        <th colspan="5"><p align="left">Средняя дельта биовозраста:</p></th>
                        <th colspan="5"><p align="left">
                            @Math.Round(group.Select(x=>x.AgentStateInInfluenceEnd.BioAge - x.AgentStateInInfluenceStart.BioAge).Average(),2)</p></th>
                    </tr>
                    <tr>
                        <th colspan="5"><p align="left">Максимальная дельта биовозраста:</p></th>
                        <th colspan="5"><p align="left">
                            @Math.Round(group.Select(x=>x.AgentStateInInfluenceEnd.BioAge - x.AgentStateInInfluenceStart.BioAge).Max(),2)</p></th>
                    </tr>
                </table>

                <table style="table-layout: fixed;width:100%;" class="table-bordered table-sm">
                    <thead>
                        <tr class="centerCell">
                            <th colspan="1"><p>Пациент</p></th>
                            <th colspan="1"><p>Динамика возраста</p></th>
                            <th colspan="1"><p>Динамика биовозраста</p></th>
                            <th colspan="1"><p>Динамика дельты</p></th>
                            <th colspan="5"><p>Динамика состояния</p></th>
                            <th colspan="1"><p>Дельта дельты</p></th>  
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(AgingDynamics aD in group)
                        {    
                         <tr class="centerCell">
                            <th colspan="1"><p>@aD.PatientId</p></th>                            
                            <th colspan="1"><p>@aD.AgentStateInInfluenceStart.Age -> @aD.AgentStateInInfluenceEnd.Age</p></th>
                            <th colspan="1"><p>@aD.AgentStateInInfluenceStart.BioAge -> @aD.AgentStateInInfluenceEnd.BioAge</p></th>
                            <th colspan="1"><p>@aD.StartDelta -> @aD.EndDelta</p></th>
                            <th colspan="5"><p>@aD.AgentStateInInfluenceStart.BioAgeState.GetDisplayAttributeValue() 
                                                -> @aD.AgentStateInInfluenceEnd.BioAgeState.GetDisplayAttributeValue()</p></th>
                            <th colspan="1"><p>@(aD.EndDelta - aD.StartDelta)</p></th>   
                        </tr>
                        }
                    </tbody>
                </table>     
            }
        </div>

        <div>
            <input type="file" id="fileLoader" name="files" title="Load File" style = "width:100%"/> 
            <button style = "width:10%;" onclick="SaveAgingDynamics()">Экспорт</button></div>
    </body>
</html>
<script>
    function SaveAgingDynamics() {
        var d=@Html.Raw(val);
        var jsonD = JSON.stringify(d);
      
        $.ajax({
            url: '@Url.Action("SaveDynamicsToFile", "Patient")',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data:jsonD,
            type: 'POST',
            cache: false,
            async: true,
            success: function (result) {  }
        });
}
</script>
          
