@model PatientInfo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<html>
    <head>
        <title>Информация о пациенте</title>
        <style>
            th {text-align: center; font-weight: normal;}
        </style>
    </head>
    <body>
        <div>
            <div><p style="font-size:20px; font-weight:bold;" align="left">Общая информация</p></div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Номер карты</th>
                        <th>Возраст</th>
                        <th>Биовозраст</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tr>   
                    <th>@Model.Patient.MedicalHistoryNumber</th>
                    <th>@Model.AgingPatientState.Age</th>
                    <th>@Model.AgingPatientState.BioAge</th>
                    <th>@Model.AgingPatientState.AgentBioAgeState.GetDisplayAttributeValue()</th>
                </tr>
            </table>
        </div>
        <div>
            <div><p style="font-size:20px;font-weight:bold;">Динамика биовозраста пациента</p></div>
            <table style="table-layout: fixed;" class="table table-sm">
                <tr>
                    <th colspan="2">Начало периода:</th>
                    <th colspan="2"><input style = "width:100%" type="datetime-local" id="dt1"/></th>
                    <th colspan="2">Окончание периода:</th>
                    <th colspan="2"><input style = "width:100%" type="datetime-local" id="dt2"/></th>
                    <th colspan="2"><button style = "width:100%" onclick="GetAgingDynamics()">Показать</button></th>
                </tr>
            </table>   
            <div id="DynamicsInfo"></div>
        </div>      
    </body>
</html>


<script>
    function GetAgingDynamics() {
        var pId = @Model.Patient.MedicalHistoryNumber;
        var startTime = document.getElementById("dt1").value;
        var endTime = document.getElementById("dt2").value;
         $.ajax({
            url: '@Url.Action("GetPatientAgingDynamics", "Patient")',
            data: {patientId: pId, startTimestamp:startTime, endTimestamp:endTime},
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#DynamicsInfo').html(result);
            }
        });
    }
</script>
