@model IList<AgingDynamics>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<html>
    <head>
        <title>Информация о динамике биовозраста пациента</title>
        <style >
            .centerCell
            {
                text-align: left;
            }
        </style>
    </head>
    
    <body>
        <table class="table-bordered table-hover  table-sm">                  
                @foreach(AgingDynamics agingDynamics in Model)
                {
                    <tr>
                        <th>
                             <table class="table-sm">
                                 <tr><p>Тип воздействия: @agingDynamics.InfluenceType</p></tr>
                                 <tr><p>Наименование препарата: @agingDynamics.MedicineName</p></tr>
                                 <tr><p>Начало воздействия: @agingDynamics.StartTimestamp</p></tr>
                                 <tr><p>Окончание воздействия: @agingDynamics.EndTimestamp</p></tr>
                             </table>
                             @*</th>
                             <th>*@
                             <table class="table-bordered table-sm"> 
                            <thead>
                                <tr class="centerCell">
                                    <th><p>Возраст в начале воздействия</p></th>
                                    <th><p>Биовозраст в начале воздействия</p></th>
                                    <th><p>Состояние в начале воздействия</p></th>
                                    <th><p>Возраст в конце воздействия</p></th>
                                    <th><p>Биовозраст в конце воздействия</p></th>
                                    <th><p>Состояние в конце воздействия</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="centerCell">
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.Age</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.BioAge</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.AgentBioAgeState</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.Age</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.BioAge</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.AgentBioAgeState</p></th>
                                </tr>
                            </tbody>
                        </table>
                        </th>
                       
                       @* <div class="row">
                            <div><p>Тип воздействия: @agingDynamics.InfluenceType</p></div>
                            <div><p>Наименование препарата: @agingDynamics.MedicineName</p></div>
                            <div><p>Начало воздействия: @agingDynamics.StartTimestamp</p></div>
                            <div><p>Окончание воздействия: @agingDynamics.EndTimestamp</p></div>
                        </div>*@
                        
                       @* <table class="table table-bordered table-hover table-sm"> 
                            <thead>
                                <tr>
                                    <th><p>Возраст в начале воздействия</p></th>
                                    <th><p>Биовозраст в начале воздействия</p></th>
                                    <th><p>Состояние в начале воздействия</p></th>
                                    <th><p>Возраст в конце воздействия</p></th>
                                    <th><p>Биовозраст в конце воздействия</p></th>
                                    <th><p>Состояние в конце воздействия</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.Age</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.BioAge</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceStart.AgentBioAgeState</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.Age</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.BioAge</p></th>
                                    <th><p>@agingDynamics.AgentStateInInfluenceEnd.AgentBioAgeState</p></th>
                                </tr>
                            </tbody>
                        </table>*@
                    </tr>
                }
        </table>
    </body>
</html>