@using Interfaces
@model AgingState

<p style="font-size:20px; font-weight:bold;" align="left">Темп старения</p>
@if(Model == null)
{
    <div class="alert alert-danger alert-dismissible fade show text-center">Нет данных по темпу старения</div>
}
else
{
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.Timestamp)</th>
            <th>@Html.LabelFor(m => m.Age)</th>
            <th>@Html.LabelFor(m => m.BioAge)</th>
            <th>@Html.LabelFor(m => m.BioAgeState)</th>
        </tr> 
    </thead>
    <tbody>
        <tr>
            <th>@Model.Timestamp</th>
            <th>@Model.Age</th>
            <th>@Model.BioAge</th>
            <th>@Model.BioAgeState.GetDisplayAttributeValue()</th>
        </tr>
    </tbody>
</table>
}