@model Influence
    <div class="container-fluid">
        <div class="row">
            @Html.LabelFor(m => m.PatientId, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">@Html.DisplayFor(x=>x.PatientId)</div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.StartTimestamp, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-2">@Html.DisplayFor(x=>x.StartTimestamp)</div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.EndTimestamp, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-2">@Html.DisplayFor(x=>x.EndTimestamp)</div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.InfluenceType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">@Html.DisplayFor(x=>x.InfluenceType)</div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.MedicineName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">@Html.DisplayFor(x=>x.MedicineName)</div>
        </div>      
        <div class="row">
            <h4>Начальные показатели</h4>
            <div
                    class="col-sm-12"
                    style="height:300px;overflow:scroll;overflow-x: hidden;border-style: ridge;">
                @foreach(PatientParameter p in Model.StartParameters.Values)
                    @Html.DisplayFor(x=>p)
            </div>
            <h4>Показатели (динамика)</h4>
            <div
                 class="col-sm-12"
                 style="height:300px;overflow:scroll;overflow-x: hidden;border-style: ridge;">
                @foreach (PatientParameter p in Model.DynamicParameters.Values)
                    @Html.DisplayFor(x=>p)
            </div>
        </div>
        <div class="row">
            @*<a asp-page="./Edit" asp-route-id="@Model.Address?.Id">Edit</a> |*@
        </div>
    </div>