@model Patient

<div class="container-fluid">
@*    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Name)</div>
        <div class="col-sm-1">@Html.DisplayFor(x=>x.Name)</div>
    </div>*@
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.MedicalHistoryNumber)</div>
        <div class="col-sm-1">@Html.DisplayFor(x=>x.MedicalHistoryNumber)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Gender)</div>
        <div class="col-sm-1">@Html.DisplayFor(x=>x.Gender)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Birthday)</div>
        <div class="col-sm-1">@Html.DisplayFor(x=>x.Birthday)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.TreatmentType)</div>
        <div class="col-sm-1">@Html.DisplayFor(x=>x.TreatmentType)</div>
    </div>
</div>
